/* Default all margins/padding to 0 and center align */
* {
    margin: 0;
    padding: 0;
  }
  
  /* Ensure outer elements take up full space */
  html, body, #root, #app {
    height: 100%;
    width: 100%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    line-height: 1.5rem;
    font-size: 1rem;
  }

  .logo {
    background-image: url(../images/fastShop.png);
    width: 20vh;
    height: 15vw;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat; 
  }

  label {
    padding: 0 0 0 2vw;
    padding-left: 10px;
  }

  .mag {
    background-image: url(../images/mag.png);
    width: 5vh;
    height: 5vw; 
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat; 
    padding: 1rem;
  }

  .search-input label {
    color: darkgray;
  }
